body,
html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.gameContainer {
  position: relative;
  width: 320px;
  height: 320px;
  border: 1px solid black;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: blue;
}

.wall {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #333;
}